<div 
class="message-menu-item"
(click)="onClick()"
[ngClass]="{'active': active, 'not-active': !active}"
>
       <div class="message-menu-content">
            <div 
            class="message-menu-content-item avatar-container"
            >
                <div
                class="avatar avatar-box"
                style="background-image: url('{{item.chatImageUrl}}');"
                >
                <img
                class="src-logo avatar-box"
                src="assets/svg/{{item.msgType}}_logo.svg"
                >
                </div>
            </div>
            
            <div class="info">
                <!-- Имя пользователя/чата последние сообщение -->
                <div class="info-item-1">
                    <div 
                    class="message-item-title"
                    >
                        {{item.title}}
                    </div>
                    <div
                    class="message-item-sender"
                    *ngIf="item.sender"
                    >
                        {{item.sender}}
                    </div>
                    <div 
                    class="message-item-message"
                    [ngClass]="{'active-text': active, 'not-active-text': !active}"
                    [ngStyle]="{'-webkit-line-clamp': item.sender ? 1 : 2}"
                    >
                        {{item.lastMessage}}
                    </div>
                </div>
                <!-- Дата и еще инфа  -->
                <div 
                class="info-item-2"
                [ngClass]="{'active-text': active, 'not-active-text': !active}"
                >
                    <div class="date">
                        {{item.date}}
                    </div>
                </div>
            </div>
       </div>
</div>