@import './../../../theme.scss';

.svg-image {
    width: 24px;
    height: 24px;
    margin: 4px;
    // filter: invert(50%) sepia(69%) saturate(3976%) hue-rotate(164deg) brightness(98%) contrast(101%);
}

.svg-image-active-color {
    filter: $icon-filter-active;
}

.svg-image-default-color {
    filter: $icon-filter-default;
}

.svg-button {

}