$background-color: #18222D;
$element-color: #213040;
$icon-fill: #738192;
$badge: #B2C3D5;
$active-element-color:  #3e6997;
$icon-filter-default: brightness(0) saturate(100%) invert(55%) sepia(9%) saturate(724%) hue-rotate(173deg) brightness(90%) contrast(88%);
$icon-filter-active: invert(63%) sepia(32%) saturate(5948%) hue-rotate(181deg) brightness(100%) contrast(102%);

// text-themes
.text-bold {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.text-normal {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: white;
}