@import './../../../../theme.scss';
@import './../../../../common.scss';

.options-button {
    @extend .not-selected;
    
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

.options-button-selected {
    background-color: $active-element-color
}

.options-button-containter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
}

.options-button-image {
    img {
        width: 25px;
        height: 25px;
        pointer-events: none;
    }
    display:flex;
    justify-content: center;
    align-items: center;
}

.options-button-text {
    @extend .text-normal;
    font-size: 13px;
    padding-left: 10px;
}

.right-arrow {
    img {
        height: 15px;
        width: 15px;
        filter: invert(35%) sepia(34%) saturate(249%) hue-rotate(174deg) brightness(95%) contrast(93%);
    }
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: auto
}