@import './../../../../theme.scss';
@import './../../../../common.scss';

.add-account-button {
    @extend .not-selected;
    
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

.add-account-button:active {
    background-color: #0e1720;
}

.add-account-button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
}

.add-account-button-image {
    img {
        filter: invert(43%) sepia(19%) saturate(2239%) hue-rotate(167deg) brightness(100%) contrast(100%);
        width: 25px;
        height: 25px;
    }
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.add-account-button-text {
    @extend .text-normal;
    font-size: 14px;
    color: #2d82c6;
    padding-left: 10px;
}