<div class="main-menu">
    <div 
    class="left-view main-menu-item-left"
    [ngClass]="{'main-menu-item': hideRight}"
    >
        <div 
        class="left-view-main main-menu-item"
        [ngSwitch]="selectedIcon"
        >
            <messages-menu *ngSwitchCase="'messages'"></messages-menu>
            
        </div>
        <div 
        class="left-view-footer footer-flex"
        >
        <svg-button 
            src="assets/svg/phone.svg"
            (click)="phoneClick()"
            [active]="selectedIcon === 'phone'"
        ></svg-button>
        <svg-button 
            src="assets/svg/messages.svg"
            (click)="messagesClick()"
            [active]="selectedIcon === 'messages'"
        ></svg-button>
        <svg-button 
            src="assets/svg/setting.svg"
            (click)="settingsClick()"
            [active]="selectedIcon === 'options'"
        ></svg-button>
        </div>
    </div>
    <div 
    class="right-view main-menu-item"
    [hidden]="hideRight"
    >
    </div>
</div>