<div class="main-menu">
    <div 
    class="left-view main-menu-item-left"
    [ngClass]="{'main-menu-item': hideRight}"
    >
        <div 
        class="left-view-main main-menu-item"
        >
            <router-outlet name="left"></router-outlet>
        </div>
        <div 
        class="left-view-footer footer-flex"
        >
            <svg-button 
                src="assets/svg/messages.svg"
                (click)="messagesClick()"
                [active]="selectedIcon === 'messages'"
                [routerLink]="[{outlets: {left: ['left', 'messages', 'menu']}}]"
            ></svg-button>
            <svg-button 
                src="assets/svg/setting.svg"
                (click)="settingsClick()"
                [active]="selectedIcon === 'options'"
                [routerLink]="[{outlets: {left: ['left', 'options', 'menu']}}]"
            ></svg-button>
        </div>
    </div>
    <div 
    class="right-view main-menu-item"
    [hidden]="hideRight"
    >
    </div>
</div>